doctype html
html
    head
        style
            include style.css
    body
        div.text
            block content
            div
                | Your sincerely
                br
                | Hire agents
                br
                a(href=frontendUrl) Visit our WebSite
